.box{
    height: 500px;
    background-color: lightgray;
}
.daylight{
    background-color: rgba(255, 255, 0, 0.829);
    
}
.nightlight{
    background-color: rgba(19, 17, 17, 0.733);
    color: blanchedalmond;
}
#name{
    color: lightsalmon;
    font-size: 40px;
    text-shadow: lightseagreen 4px 4px 6px;
    text-align: center;
}
